.App {
  text-align: center;

}

.App-title{
  color: #ff0000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App-form {
  align-items: center;
  font-size: 15px;
  justify-content: center;
  display: flex;
  flex-direction:column;
  border-radius: 3px;
  box-shadow:  3px 3px 3px 3px black;
}

.App-form label {
  margin: 10px;

}
.App-form input {
  margin: 5px;
}
